{% extends 'base.html' %}
{% block title %}All Users{% endblock %}
{% block body %}
    <a href="/">Home</a>
    {% if 'user_id' in session %}
        <a href="/users/{{ user.user_id }}">My Cellar</a>
    {% endif %}
    <div></div>

    {% if 'user_id' in session %}
        <h1>All Users</h1>

        <ul>
            {% for user in users %}
                <li>
                    <a href="/users/{{ user.user_id }}">{{ user.name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <div><a href="/login_page">Log In</a> or <a href="/create_account_page">Create an Account</a> to view your friends' cellars!</div>
    {% endif %}

{% endblock %}