{% extends 'base.html' %}
{% block title %}All Wines{% endblock %}
{% block body %}
    <!-- <h2>All Wines</h2>
    <ul class="display-wines">
    {% for wine in wines %}
        <li>
            <a class="links" href="/wines/{{ wine.wine_id }}">{{ wine.title }}</a>
        </li>
    {% endfor %}
    </ul> -->



<div class="container">
    <div class="row">
        <div class="card col-md-12">
        <div class="card-body">
        <h5 class="card-title">All Wines</h5>
        <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
        <ul class="card-text">
            {% for wine in wines %}
            <li>
            <a class="links" href="/wines/{{ wine.wine_id }}">{{ wine.title }}</a>
            </li>
            {% endfor %}
        </ul>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
        </div>
    </div>
    </div>
</div>
{% endblock %}