{% extends 'base.html' %}
{% block title %}My Cellar{% endblock %}

{% block body %}
    {% if 'user_id' in session %}
        <h1>Welcome, {{ user.name }}!</h1>
        <h2>Navigation</h2>
        <ul>
            <li><a href="/wines">View all wines</a></li>
            <li><a href="/users">View all users</a></li>
            <li><a href="/users/{{ user.user_id }}">View My Cellar</a></li>
        </ul>
    {% else %}
        <h1>Cheers, welcome to MyCellar!</h1>
        <h2>Navigation</h2>
        <ul>
            <li><a href="/wines">View all wines</a></li>
            <li><a href="/users">View all users</a></li>
        </ul>
    {% endif %}

    {% if not 'user_id' in session %}
    <h2>Create an Account</h2>
    <a href="/create_account_page">Create an Account</a>

    <h2>Log In</h2>
    <a href="/login_page">Log In</a>
    {% endif %}

    {% if 'user_id' in session %} 
        <a href="/logout">Log Out</a>
    {% endif %}

{% endblock %}