{% extends 'base.html' %}
{% block title %}My Cellar{% endblock %}

{% block body %}
    {% if 'user_id' in session %}
        <h1>Welcome, {{ user.name }}!</h1>
    {% else %}
        <h1>Welcome! Please log in.</h1>
    {% endif %}
    

    <h2>Navigation</h2>
    <ul>
        <li><a href="/wines">View all wines</a></li>
        <li><a href="/users">View all users</a></li>
    </ul>


    {% if not 'user_id' in session %} 
    <h2>Create an Account</h2>
    <form action="/users" method="POST">
        <p>
            Name <input type="text" name="name">
        </p>
        <p>
            Email <input type="text" name="email">
        </p>
        <p>
            Password <input type="text" name="password">
        </p>

        <p>
            <input type="submit">
        </p>
    </form>

    <h2>Log In</h2>
    <form action="/login" method="POST">
        <p>
            Email <input type="text" name="email">
        </p>
        <p>
            Password <input type="text" name="password">
        </p>

        <p>
            <input type="submit">
        </p>
    </form>
    {% endif %}


    {% if 'user_id' in session %} 
        <a href="/logout">Log Out</a>

    {% endif %}

{% endblock %}