{% extends 'base.html' %}

{% block title %}{{ user.name }} - Details{% endblock %}

{% block head %}
  {# ChartJS #}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
{% endblock %}

{% block body %}
<div class="container">
  
  <!-- UNSORTED RATINGS TABLE -->
  <!-- {% if user.ratings %}
  <h2>Your Rated Wines</h2>
  <table>
    <tr>
      <th>Wine</th>
      <th>Varietal</th>
      <th>Country</th>
      <th>Rating</th>
    </tr>
    {% for rating in user.ratings %}
    <tr>
      <td><a href="/wines/{{ rating.wine.wine_id }}">{{ rating.wine.title }}</a></td>
      <td>{{ rating.wine.variety }}</td>
      <td>{{ rating.wine.country }}</td>
      <td>{{ rating.rating }}</td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
    <div>You have not rated any wines yet.</div>
  {% endif %} -->

  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Favorite Countries</h5>
          {% if user.favorites %}
          <canvas id="pie-chart"></canvas>
          <p class="card-text">Based on your favorites, you might like wines from:</p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          {% for country in fav_countries %}
          <div><a href="/user/{{ user.user_id }}/recs/country/{{ country }}" class="btn btn-primary">{{ country }}</a></div>
          {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Favorite Varietals</h5>
          {% if user.favorites %}
          <canvas id="pie-chart2"></canvas>
          <p class="card-text">Based on your favorites, you might wines of these varietals:</p>
          {% for variety in fav_varietals %}
          <a href="/user/{{ user.user_id }}/recs/variety/{{ variety }}" class="btn btn-primary">{{ variety }}</a>
          {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    {% if user.favorites %}
      <div class="col-6">
      <h3>Favorite Countries</h3>
      <canvas id="pie-chart"></canvas>
      <div>Based on your favorites, you might like wines from:</div>
      {% for country in fav_countries %}
      <!-- <div><a href="/wines/recs/country/{{ country }}">{{ country }}</a></div> -->
      <div><a href="/user/{{ user.user_id }}/recs/country/{{ country }}">{{ country }}</a></div>
      {% endfor %}
      </div>
    
      <div class="col-6">
      <h3>Favorite Varietals</h3>
      <canvas id="pie-chart2"></canvas>
      <div>Based on your favorites, you might wines of these varietals:</div>
      {% for variety in fav_varietals %}
      <!-- <div><a href="/wines/recs/variety/{{ variety }}">{{ variety }}</a></div> -->
      <div><a href="/user/{{ user.user_id }}/recs/variety/{{ variety }}">{{ variety }}</a></div>
      {% endfor %}
      </div>
    {% endif %}
    </div>
 
<!-- FAVORITES TABLE -->
{% if user.favorites %}
<h3>Favorite Wines</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Wine</th>
      <th scope="col">Country</th>
      <th scope="col">Varietal</th>
    </tr>
  </thead>
  <tbody>
    {% for favorite in user.favorites %}
    <tr>
      <td scope="row"><a href="/wines/{{ favorite.wine.wine_id }}">{{ favorite.wine.title }}</a></td>
      <td>{{ favorite.wine.country }}</td>
      <td>{{ favorite.wine.variety }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% else %}
  <div>No wines favorited yet.</div>
{% endif %}


 <!-- SORTED RATINGS AND COMMENTS TABLE -->
 {% if user.ratings and user.comments %}
 <h3>Ratings and Comments</h3>
 <table class="table table-hover">
  <thead>
   <tr>
     <th>Wine</th>
     <th>Rating</th>
     <th>Comment</th>
     <th>Rating Date</th>
   </tr>
  </thead>
  <tbody>
   {% for comment in user.comments %}
   <tr>
     <td><a href="/wines/{{ comment.wine.wine_id }}">{{ comment.wine.title }}</a></td>
     <td>{{ dict_ratings[comment.wine.wine_id] }}</td>
     <td>{{ comment.comment }}</td>
     <td>{{ dict_ratings_date[comment.wine.wine_id] }}</td>
   </tr>
   {% endfor %}
  </tbody>
 </table>
 {% else %}
   <div>No ratings or comments made yet.</div>
 {% endif %}

<!-- UNUSED CHARTJS -->
<!-- <div class="row">
{% if user.ratings %}
  <div class="col-6">
  <h3>Comparison of user vs critic rating</h3>
  <canvas id="line-chart2"></canvas>
  </div>

  <div class="col-6">
  <h3>Comparison of user vs critic rating</h3>
  <canvas id="scatter-chart"></canvas>
  </div>
{% endif %}
</div> -->
{% endblock %}

{% block js %}
<script src="/static/js/charts.js"></script>

</div>
{% endblock %}