{% extends 'base.html' %}

{% block title %}{{ user.name }} - Details{% endblock %}

{% block head %}
  {# ChartJS #}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
{% endblock %}

{% block body %}
  <a href="/">Home</a>
  <a href="/chartjs">Charts</a>

{% if user.ratings %}
<h2>Your Rated Wines</h2>
  <table>
    <tr>
      <th>Wine</th>
      <th>Varietal</th>
      <th>Country</th>
      <th>Rating</th>
    </tr>
    {% for rating in user.ratings %}
    <tr>
      <td><a href="/wines/{{ rating.wine.wine_id }}">{{ rating.wine.title }}</a></td>
      <td>{{ rating.wine.variety }}</td>
      <td>{{ rating.wine.country }}</td>
      <td>{{ rating.rating }}</td>
    </tr>
    {% endfor %}
  {% else %}
    <div>You have not rated any wines yet.</div>
  {% endif %}

  {% if user.favorites %}
  </table>
  <h2>Your Favorite Wines</h2>
  <p>
    <div><a href="/recs">All recommendations</a></div>
  </p>

  <table>
    <tr>
      <th>Wine</th>
      <th>Varietal</th>
      <th>Country</th>
      <th>Critic rating</th>
    </tr>
    {% for favorite in user.favorites %}
    <tr>
      <td><a href="/wines/{{ favorite.wine.wine_id }}">{{ favorite.wine.title }}</a></td>
      <td>{{ favorite.wine.variety }}</td>
      <td>{{ favorite.wine.country }}</td>
      <td>{{ favorite.wine.points }}</td>
    </tr>
    {% endfor %}
  </table>

  {% else %}
    <div>You have not favorited any wines yet.</div>
  {% endif %}

  <h2>Wines You've Commented On</h2>

  <table>
    <tr>
      <th>Wine</th>
      <th>Rating</th>
      <th>Comment</th>
    </tr>
    {% for comment in user.comments %}
    <tr>
      <td><a href="/wines/{{ comment.wine.wine_id }}">{{ comment.wine.title }}</a></td>
      <td>{{ dict_ratings[comment.wine.wine_id] }}</td>
      <td>{{ comment.comment }}</td>
    </tr>
    {% endfor %}
  </table>


  <h2>Line Chart - Favorite Countries</h2>
  <canvas id="line-chart"></canvas>

  <h2>Pie Chart - Favorite Countries</h2>
  <canvas id="pie-chart"></canvas>
  <div>Based on your favorites, you might like wines from:</div>
  {% for country in fav_countries %}
  <div><a href="/wines/recs/country/{{ country }}">{{ country }}</a></div>
  {% endfor %}
 
  <h2>Testing - Bar Chart w/ Data from Server</h2>
  <canvas id="bar-chart"></canvas>
  <div>TODO: make y axis begin at 0</div>

  <h2>Pie Chart - Favorite Varietals</h2>
  <canvas id="pie-chart2"></canvas>
  <div>Based on your favorites, you might wines of these varietals:</div>
  {% for variety in fav_varietals %}
  <div><a href="/wines/recs/variety/{{ variety }}">{{ variety }}</a></div>
  {% endfor %}

  <h2>Line Chart - Comparison of user vs critic rating</h2>
  <canvas id="line-chart2"></canvas>

  <h2>Scatter chart - Comparison of user vs critic rating</h2>
  <canvas id="scatter-chart"></canvas>s

  <!-- <p>
    <div>Name: {{ user.name }}</div>
    <div>Email: {{ user.email }}</div>
    <div>
    {% set pw_len = user.password|length %}
    {% set hidden_pw = pw_len*'*' %}
    Password: {{ hidden_pw }}
    </div>
  </p> -->

  <p>
  <div>TODO: Add comment feature?</div>
</p>
{% endblock %}

{% block js %}
<script src="/static/js/charts.js"></script>
{% endblock %}