{% extends 'base.html' %}

{% block title %}{{ user.name }} - Details{% endblock %}

{% block head %}
  {# ChartJS #}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
{% endblock %}

{% block body %}
<!-- Bootstrap rounded circle photo example -->
<!-- <div class="container mt-5">

  <div class="row text-center">

    <div class="col-md-6 mb-4">

      <h2 class="my-5 h2">Basic example</h2>

      <img class="rounded-circle" alt="100x100" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg"
        data-holder-rendered="true">

    </div>

    <div class="col-md-6 mb-4">

      <h2 class="my-5 h2">With shadow</h2>

      <img class="rounded-circle z-depth-2" alt="100x100" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg"
        data-holder-rendered="true">

    </div>

  </div> -->

<!-- User Profile Card -->
  <div class="card mb-12 m-4 p-5">
    <div class="row g-0">
      <div class="col-md-4">
        <!-- <img src="..." class="img-fluid rounded-start" alt="..."> -->
        <div><img class="rounded-circle z-depth-2 d-block m-auto" style="padding: 2rem;" alt="100x100" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg"
          data-holder-rendered="true"></div>
          <div></div>
        <h5 class="text-center">{{ user.name }}</h5>
        <div class="text-center mb-0">
          <p class="card-text">“{{ user.quote }}.”</p>
        </div>
        <!-- <div class="text-center mb-0">
          <a href="#!" class="text-dark"><i class="fab fa-facebook-f fa-lg"></i></a>
          <a href="#!" class="text-dark"><i class="fab fa-twitter fa-lg mx-4 px-2"></i></a>
          <a href="#!" class="text-dark"><i class="fab fa-instagram fa-lg"></i></a>
        </div> -->
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ user.name }}</h5>
          <p class="card-text">“{{ user.quote }}.”</p>
          <p class="card-text">
            {% if user.favorites and user.ratings and user.comments %}
              <div>Favorite varietals: {{ ", ".join(fav_varietals) }}</div>
              <div>Favorite countries: {{ ", ".join(fav_countries)  }}</div>
              <div>Number of likes: <a href="/favorites/users/{{ user.user_id }}">{{ fav_wines|length }}</a></div>
              <div>Number of reviews: <a href="/reviews/users/{{ user.user_id }}">{{ comments|length }}</a></div>
              <div>Average rating: {{ average }}</div>
              <div>Average star rating: {{ star_average}}</div>
            {% elif user.favorites %}
              <div>Favorite varietals: {{ ", ".join(fav_varietals) }}</div>
              <div>Favorite countries: {{ ", ".join(fav_countries)  }}</div>
              <div>Number of likes: <a href="/favorites/users/{{ user.user_id }}">{{ fav_wines|length }}</a></div>
              <div>Number of reviews: No wines reviewed yet.</div>
              <div>Average rating: No wines reviewed yet.</div>
            {% elif user.ratings and user.comments %}
              <div>Favorite varietals: No wines liked yet.</div>
              <div>Favorite countries: Like some wines to discover your favorite wine countries!</div>
              <div>Number of likes: No wines liked yet.</div>
              <div>Number of reviews: <a href="/reviews/users/{{ user.user_id }}">{{ comments|length }}</a></div>
              <div>Average rating: {{ average }}</div>
              <div>Average star rating: {{ star_average}}</div>
            {% else %}
              <div>Favorite varietals: No wines liked yet.</div>
              <div>Favorite countries: Like some wines to discover your favorite wine countries!</div>
              <div>Number of likes: No wines liked yet.</div>
              <div>Number of reviews: No wines reviewed yet.</div>
              <div>Average rating: No wines reviewed yet.</div>
            {% endif %}
          </p>
          <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
        </div>
      </div>
    </div>
  </div>

<!-- ChartJS Row -->
  <div class="row">
    <div class="col-sm-6 ml-4">
      <div class="card text-center align-items-center" style="margin-left: 1.5rem">
        <div class="card-body">
          <h5 class="card-title">Favorite Countries</h5>
          {% if user.favorites %}
          <canvas id="pie-chart"></canvas>
          <p class="card-text">Countries to explore!</p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          {% for country in fav_countries %}
          <div><a href="/user/{{ user.user_id }}/recs/country/{{ country }}" class="btn btn-dark">{{ country }}</a></div>
          {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col-sm-6 mr-4">
      <div class="card text-center align-items-center" style="margin-right: 1.5rem">
        <div class="card-body">
          <h5 class="card-title">Favorite Varietals</h5>
          {% if user.favorites %}
          <canvas id="pie-chart2"></canvas>
          <p class="card-text">Grapes to try! </p>
          {% for variety in fav_varietals %}
          <a href="/user/{{ user.user_id }}/recs/variety/{{ variety }}" class="btn btn-dark">{{ variety }}</a>
          {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>








    
  </div>


  <!-- <div class="row">
    {% if user.favorites %}
      <div class="col-6">
      <h3>Favorite Countries</h3>
      <canvas id="pie-chart"></canvas>
      <div>Based on your favorites, you might like wines from:</div>
      {% for country in fav_countries %}
      <div><a href="/user/{{ user.user_id }}/recs/country/{{ country }}">{{ country }}</a></div>
      {% endfor %}
      </div>

      <div class="col-6">
      <h3>Favorite Varietals</h3>
      <canvas id="pie-chart2"></canvas>
      <div>Based on your favorites, you might wines of these varietals:</div>
      {% for variety in fav_varietals %}
      <div><a href="/user/{{ user.user_id }}/recs/variety/{{ variety }}">{{ variety }}</a></div>
      {% endfor %}
      </div>
    {% endif %}
    </div> -->
 
<!-- FAVORITES TABLE -->
<!-- {% if user.favorites %}
<div class="card m-5" style="width: 81rem;">
  <div class="card-body">
    <h5 class="card-title">Favorites</h5>
    <h6 class="card-subtitle mb-2 text-muted">Wines you've liked</h6>
    <div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Wine</th>
            <th scope="col">Country</th>
            <th scope="col">Varietal</th>
          </tr>
        </thead>
        <tbody>
          {% for favorite in user.favorites[:3] %}
          <tr>
            <td scope="row"><a class="links" href="/wines/{{ favorite.wine.wine_id }}">{{ favorite.wine.title }}</a></td>
            <td>{{ favorite.wine.country }}</td>
            <td>{{ favorite.wine.variety }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
        <div>No wines favorited yet</div>
      {% endif %}
    </div>
  </div>
  <a href="/favorites/users/{{ user.user_id }}" class="card-link text-end">More favorites...</a>
</div> -->

<!-- {% if user.favorites %}
<h3>Favorite Wines</h3>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Wine</th>
      <th scope="col">Country</th>
      <th scope="col">Varietal</th>
    </tr>
  </thead>
  <tbody>
    {% for favorite in user.favorites %}
    <tr>
      <td scope="row"><a href="/wines/{{ favorite.wine.wine_id }}">{{ favorite.wine.title }}</a></td>
      <td>{{ favorite.wine.country }}</td>
      <td>{{ favorite.wine.variety }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% else %}
  <div>No wines favorited yet.</div>
{% endif %} -->


 <!-- SORTED RATINGS AND COMMENTS TABLE -->
 <!-- {% if user.ratings and user.comments %}
 <div class="card" style="width: 81rem;">
   <div class="card-body">
     <h5 class="card-title">Reviews</h5>
     <h6 class="card-subtitle mb-2 text-muted">Wines you've reviewed</h6>
     <table class="table table-hover">
       <div>
          <thead>
          <tr>
            <th>Wine</th>
            <th>Rating</th>
            <th>Comment</th>
            <th>Rating Date</th>
          </tr>
          </thead>
          <tbody>
          {% for comment in user.comments[:3] %}
          <tr>
            <td><a class="links" href="/wines/{{ comment.wine.wine_id }}">{{ comment.wine.title }}</a></td>
            <td>{{ dict_ratings[comment.wine.wine_id] }}</td>
            <td>{{ comment.comment }}</td>
            <td>{{ dict_ratings_date[comment.wine.wine_id] }}</td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
        {% else %}
          <div>No ratings or comments made yet.</div>
        {% endif %}
    </div>
     <a href="#" class="card-link text-end">More reviews...</a>
   </div>
 </div> -->


 <!-- {% if user.ratings and user.comments %}
 <h3>Ratings and Comments</h3>
 <table class="table table-hover">
  <thead>
   <tr>
     <th>Wine</th>
     <th>Rating</th>
     <th>Comment</th>
     <th>Rating Date</th>
   </tr>
  </thead>
  <tbody>
   {% for comment in user.comments %}
   <tr>
     <td><a href="/wines/{{ comment.wine.wine_id }}">{{ comment.wine.title }}</a></td>
     <td>{{ dict_ratings[comment.wine.wine_id] }}</td>
     <td>{{ comment.comment }}</td>
     <td>{{ dict_ratings_date[comment.wine.wine_id] }}</td>
   </tr>
   {% endfor %}
  </tbody>
 </table>
 {% else %}
   <div>No ratings or comments made yet.</div>
 {% endif %} -->

<!-- UNUSED CHARTJS -->
<!-- <div class="row">
{% if user.ratings %}
  <div class="col-6">
  <h3>Comparison of user vs critic rating</h3>
  <canvas id="line-chart2"></canvas>
  </div>

  <div class="col-6">
  <h3>Comparison of user vs critic rating</h3>
  <canvas id="scatter-chart"></canvas>
  </div>
{% endif %}
</div> -->
{% endblock %}

{% block js %}
<script src="/static/js/charts.js"></script>

</div>
{% endblock %}