{% extends 'base.html' %}

{% block title %}{{ wine.title }} - Details{% endblock %}

{% block body %}
<div class="container mt-5">

<!-- Bootstrap Row 1: Wine info -->
<div class="row">
<div class="card col-md-6">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="../static/images/bottle/Red wine bottle.png" class="img-fluid rounded-start d-block m-auto pt-3" style="padding: .2rem; max-width: 80px;" id="wine-bottle" alt="...">
    </div>
    <div class="col-md-8 p-3">
      <div class="card-body">
        <h5 class="card-title">{{ wine.title }}</h5>
        <div class="card-text">
          <p>
          <div>Designation: {{ wine.designation }}</div>
          <div>Varietal: {{ wine.variety }}</div>
          <div>Region: {{ wine.region_1 }}</div>
          <div>Country: {{ wine.country }}</div>
          <div>Winery: {{ wine.winery }}</div>
          </p>
          <p>
            {% if 'user_id' in session %}
            {% if current_users_fav %}
              <form action="/wines/{{ wine.wine_id }}/ratings" method="POST">
                  <button class="btn btn-dark" type="submit" value="Unfavorite" name="unfavorite">Unfavorite</button>
            {% else %}
              <form action="/wines/{{ wine.wine_id }}/ratings" method="POST">
                  <button class="btn btn-dark" type="submit" value="Favorite" name="favorite">Favorite</button>
            {% endif %}
            {% else %}
            <div>Log in to favorite this wine!</div>
            {% endif %}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card col-md-6">
<div class="row g-0">
    <div class="col-md-8 p-3">
      <div class="card-body">
        <h5 class="card-title" style="color: white;">{{ wine.title }}</h5>
        <div class="card-text" style="width:30rem;">
          <p>
          <div>Description: {{ wine.description }}</div>
          <p>
          <div>Critic Rating: {{ wine.points }}</div>
          </p>
          </p>
        </div>
      </div>
    </div>
    </div>
</div>
</div>


          <!-- <h5 class="card-title" style="color: white;">{{ wine.title }}</h5>
          <p>
          <div>Description: {{ wine.description }}</div>
          <div>Critic Rating: {{ wine.points }}</div>
          </p>
        <p class="card-text">
          {% if 'user_id' in session %}
            {% if current_users_fav %}
              <form action="/wines/{{ wine.wine_id }}/ratings" method="POST">
                  <button class="btn btn-dark" type="submit" value="Unfavorite" name="unfavorite">Unfavorite</button>
            {% else %}
              <form action="/wines/{{ wine.wine_id }}/ratings" method="POST">
                  <button class="btn btn-dark" type="submit" value="Favorite" name="favorite">Favorite</button>
            {% endif %}
          {% else %}
          <div>Log in to favorite this wine!</div>
          {% endif %}
      </div>
    </div>
</div>
</div> -->

<!-- Extra row to give space above subsequent row -->
<div class="row" style="background-color: white; height: 100px;"></div>

<!-- Bootstrap Row 2: Rating Data -->
<div class="row">
<div class="card col-md-4">
  <div class="row g-0">
      <div class="card-body">
        <h5 class="card-title">Reviews</h5>
        <p class="card-text">
          {% if wine.ratings %}
            {% if star_average == 1 %}
            <div>
              <i class="fas fa-star"></i>
            </div>
            {% elif star_average == 1.5 %}
            <div>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half"></i>
            </div>
            {% elif star_average == 2 %}
            <div>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            {% elif star_average == 2.5 %}
            <div>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half"></i>
            </div>
            {% elif star_average == 3 %}
            <div>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            {% elif star_average == 3.5 %}
            <div>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half"></i>
            </div>
            {% elif star_average == 4 %}
            <div>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            {% elif star_average == 4.5 %}
            <div>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half"></i>
            </div>
            {% elif star_average == 5 %}
            <div>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            {% endif %}
            <p>Average user rating: {{ average }} / 5</p>
          
          <!-- Adding this -->
          {% endif %}

          {% if 'user_id' in session %}
            {% if current_users_rating %}
            <div><a href="/review/wines/{{ wine_id }}" class="btn btn-dark">Update your rating</a></div>
            {% else %}
            <div><a href="/review/wines/{{ wine_id }}" class="btn btn-dark">Rate this wine</a></div>
            {% endif %}
          {% else %}
          <div><a href="/login_page">Log in</a> or <a href="/create_account_page">Create an Account</a> to rate this wine!</div>
          {% endif %}


          {% if num_favorites == 1 %}
            <p>This wine has been favorited {{ num_favorites }} time by: </p>
          {% elif num_favorites > 1 %}
            <p>This wine has been favorited {{ num_favorites }} times by: </p>
          {% else %}
            <p>This wine has not been favorited.</p>
          {% endif %}

          {% if num_favorites >= 1 %}
            {% for fav in favorites %}
            <a href="/users/{{ fav.user.user_id }}">{{ fav.user.name }}</a>
            {% endfor %}
          {% endif %}
        </p>
        </p>
      </div>
    </div>
</div>

<div class="card col-md-8">
  <div class="row g-0">
      <div class="card-body">
        <h5 class="card-title">User Reviews</h5>
        <p class="card-text">
          {% if not wine.ratings %}
          <p>This wine does not have any ratings yet.</p>
          {% endif %}
        
        {% if wine.ratings %}
          {% for rating in ratings %}
            <div>{{ rating.user.name }}</div>
            {% if rating.rating == 1 %}
            <div>
              <i class="fas fa-star"></i>
            </div>
            {% elif rating.rating == 2 %}
            <div>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            {% elif rating.rating == 3 %}
            <div>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            {% elif rating.rating == 4 %}
            <div>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            {% elif rating.rating == 5 %}
            <div>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            {% endif %}
            <div>{{ (rating.date).strftime("%B %d, %Y") }}</div>
            <div></div>
            <p>{{ dict_comments[rating.user.user_id] }}</p>
            {% endfor %}
          {%  endif %}
          </div>
        </p>
        </p>
      </div>
    </div>
</div>
</div>

{% endblock %}