{% extends 'base.html' %}
{% block title %}Wine Ratings{% endblock %}
{% block body %}
    <h1>{{ wine.title }}</h1>
    <table>
        <tr>
            <th>User</th>
            <th>Rating</th>
        </tr>
        {% for rating in ratings %}
        <tr>
            <td>{{ rating.user.name }}</td>
            <td>{{ rating.rating }}</td>
        </tr>
        {% endfor %}
        <tr>
            <td>Average:</td>
            <td>(Code in average later)</td>
        </tr>
    </table>
    

    

{% endblock %}