{% extends 'base.html' %}

{% block title %}{{ wine.title }} - Details{% endblock %}

{% block body %}
  <a href="/">Home</a>
  {% if 'user_id' in session %}
      <a href="/users/{{ user.user_id }}">My Cellar</a>
  {% endif %}
<div></div>
<h1>{{ wine.title }}</h1>
<h2>Wine profile</h2>

<p>
  <div>Designation: {{ wine.designation }}</div>
  <div>Varietal: {{ wine.variety }}</div>
  <div>Region 1: {{ wine.region_1 }}</div>
  <div>Region 2: {{ wine.region_2 }}</div>
  <div>Province: {{ wine.province }}</div>
  <div>Country: {{ wine.country }}</div>
  <div>Winery: {{ wine.winery }}</div>
</p>
<p>
  <div>Description: {{ wine.description }}</div>
</p>

<h2>Wine stats</h2>
{% if num_favorites == 1 %}
  <p>This wine has been favorited {{ num_favorites }} time. </p>
  {% else %}
  <p>This wine has been favorited {{ num_favorites }} times. </p>
{% endif %}

<div>TODO: Unfavorite button if user has already favorited this wine.</div>
{% if 'user_id' in session %}
<form action="/wines/{{ wine.wine_id }}/ratings" method="POST">
  <p>
    <input type="submit" value="Favorite">
  </p>
  
  {% if current_users_rating %}
  <p>You've already rated this wine. You may update your rating below:</p>
  <form action="/wines/{{ wine.wine_id }}/ratings" method="POST">
    <p>
      Update rating<input type="number" min="0" max=100 name="new_rating">
    </p>

    <p>
      <input type="submit">
    </p>
  </form>
  {% else %}
    <form action="/wines/{{ wine.wine_id }}/ratings" method="POST">
      <p>
        Rating<input type="number" min="0" max=100 name="rating">
      </p>

      <p>
        <input type="submit">
      </p>
    </form>
  {% endif %}
{% endif %}

{% if not 'user_id' in session %}
  <p>
    <div>Log in to rate or favorite this wine!</div> 
    <div>(Login on homepage)</div>
  </p>
{% endif %}

<p>TODO: JS event listener -- onclick for user to favorite and unfavorite this wine</p>
<p>TODO: Have favoriting click event render the current page, AJAX?</p>

{% endblock %}