{% extends 'base.html' %}

{% block title %}{{ wine.title }} - Details{% endblock %}

{% block body %}
<div class="container">

<!-- Wine info -->
<div class="row">
<!-- <div class="card mb-3" style="max-width: 540px;"> -->
<div class="card col-md-6">
  <div class="row g-0">
    <div class="col-md-4">
      <!-- <img src="..." class="img-fluid rounded-start" alt="..."> -->
      <img src="../static/images/maksym-kaharlytskyi-3uJt73tr4hI-unsplash.jpg" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ wine.title }}</h5>
        <p class="card-text">
          <div>Designation: {{ wine.designation }}</div>
          <div>Varietal: {{ wine.variety }}</div>
          <div>Region 1: {{ wine.region_1 }}</div>
          <div>Region 2: {{ wine.region_2 }}</div>
          <div>Province: {{ wine.province }}</div>
          <div>Country: {{ wine.country }}</div>
          <div>Winery: {{ wine.winery }}</div>
        </p>
      </div>
    </div>
  </div>
</div>


<!-- <div class="card mb-3" style="max-width: 540px;"> -->
<div class="card col-md-6">
  <div class="row g-0">
    <!-- <div class="col-md-4"></div> -->
    <!-- <div class="col-md-8"> -->
      <div class="card-body">
        <!-- <h5 class="card-title">{{ wine.title }}</h5> -->
        <p class="card-text">
          <p>
          <div>Description: {{ wine.description }}</div>
          <div>Critic Rating: {{ wine.points }}</div>
          </p>
        <p class="card-text">
          {% if 'user_id' in session %}
            {% if current_users_fav %}
              <form action="/wines/{{ wine.wine_id }}/ratings" method="POST">
                  <button type="submit" value="Unfavorite" name="unfavorite">Unfavorite</button>
            {% else %}
              <form action="/wines/{{ wine.wine_id }}/ratings" method="POST">
                  <button type="submit" value="Favorite" name="favorite">Favorite</button>
            {% endif %}
          {% endif %}
      </div>
    </div>
  <!-- </div> -->
</div>
</div>

<!-- <h3>{{ wine.title }}</h3>
<div class="row">
  <div class="col">
    <img src="../static/images/maksym-kaharlytskyi-3uJt73tr4hI-unsplash.jpg">
    <div id="source">
      Photo by <a href="https://unsplash.com/@qwitka?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Maksym Kaharlytskyi</a> on <a href="https://unsplash.com/s/photos/wine?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <div class="card-body">
        <p>
          <div>Designation: {{ wine.designation }}</div>
          <div>Varietal: {{ wine.variety }}</div>
          <div>Region 1: {{ wine.region_1 }}</div>
          <div>Region 2: {{ wine.region_2 }}</div>
          <div>Province: {{ wine.province }}</div>
          <div>Country: {{ wine.country }}</div>
          <div>Winery: {{ wine.winery }}</div>
        </p>
      </div>
    </div>    
  </div>
</div> -->


<!-- Wine data -->
<div class="row">
<!-- <div class="card mb-3" style="max-width: 540px;"> -->
<div class="card col-md-4">
  <div class="row g-0">
    <!-- <div class="col-md-4"></div> -->
    <!-- <div class="col-md-8"> -->
      <div class="card-body">
        <h5 class="card-title">Reviews</h5>
        <p class="card-text">
          {% if wine.ratings %}
            {% if star_average == 1 %}
            <div>
              <i class="fas fa-star"></i>
            </div>
            {% elif star_average == 1.5 %}
            <div>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half"></i>
            </div>
            {% elif star_average == 2 %}
            <div>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            {% elif star_average == 2.5 %}
            <div>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half"></i>
            </div>
            {% elif star_average == 3 %}
            <div>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            {% elif star_average == 3.5 %}
            <div>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half"></i>
            </div>
            {% elif star_average == 4 %}
            <div>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            {% elif star_average == 4.5 %}
            <div>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star-half"></i>
            </div>
            {% elif star_average == 5 %}
            <div>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
            </div>
            {% endif %}
            <p>Average user rating: {{ average }} / 5</p>

          {% if 'user_id' in session %}
            {% if current_users_rating %}
            <div><a href="/review/wines/{{ wine_id }}" class="btn btn-primary">Update your rating</a></div>
            {% else %}
            <div><a href="/review/wines/{{ wine_id }}" class="btn btn-primary">Rate this wine</a></div>
            {% endif %}
          {% else %}
          <div><a href="/login_page">Log in</a> or <a href="/create_account_page">Create an Account</a> to rate this wine!</div>
          {% endif %}

          {% if num_favorites == 1 %}
            <p>This wine has been favorited {{ num_favorites }} time by: </p>
          {% elif num_favorites > 1 %}
            <p>This wine has been favorited {{ num_favorites }} times by: </p>
          {% else %}
            <p>This wine has not been favorited.</p>
          {% endif %}

          {% if num_favorites >= 1 %}
            {% for fav in favorites %}
            <a href="/users/{{ fav.user.user_id }}">{{ fav.user.name }}</a>
            {% endfor %}
          {% endif %}
        </p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </p>
      </div>
    </div>
  <!-- </div> -->
</div>

<!-- <div class="card mb-3" style="max-width: 540px;"> -->
<div class="card col-md-8">
  <div class="row g-0">
    <!-- <div class="col-md-4"></div> -->
    <!-- <div class="col-md-8"> -->
      <div class="card-body">
        <h5 class="card-title">User Reviews</h5>
        <p class="card-text">
          {% if not wine.ratings %}
          <p>This wine does not have any ratings yet.</p>
          {% endif %}
        
          {% for rating in ratings %}
            {% if rating.rating == 1 %}
            <div>
              <i class="fas fa-star"></i>
              {{ rating.rating }}
            </div>
            {% elif rating.rating == 2 %}
            <div>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              {{ rating.rating }}
            </div>
            {% elif rating.rating == 3 %}
            <div>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              {{ rating.rating }}
            </div>
            {% elif rating.rating == 4 %}
            <div>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              {{ rating.rating }}
            </div>
            {% elif rating.rating == 5 %}
            <div>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              <i class="fas fa-star"></i>
              {{ rating.rating }}
            </div>
            {% endif %}
            <div>{{ rating.user.name }}</div>
            <div>{{ (rating.date).strftime("%B %d, %Y") }}</div>
            <div></div>
            <p>{{ dict_comments[rating.user.user_id] }}</p>
            {% endfor %}
          {%  endif %}
          </div>
        </p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </p>
      </div>
    </div>
  <!-- </div> -->
</div>
</div>

{% endblock %}