{% extends 'base.html' %}
{% block title %}Wine Ratings{% endblock %}
{% block body %}
    <a href="/home">Home</a>
    {% if 'user_id' in session %}
        <a href="/users/{{ user.user_id }}">My Cellar</a>
    {% endif %}
    <div></div>
    <h1>{{ wine.title }}</h1>
    <div><a href="/wines/{{ wine.wine_id }}">Back to details about {{ wine.title }}</a></div>
    {% if not wine.ratings %}
        <p>This wine does not have any ratings yet.</p>
    {% endif %}
    {% if wine.ratings %}
        <p>Average user rating:{{ average }}</p>
    <table>
        <tr>
            <th>User</th>
            <th>Rating</th>
        </tr>
        {% for rating in wine.ratings %}
        <tr>
            <td><a href="/users/{{ rating.user.user_id }}">{{ rating.user.name }}</a></td>
            <td>{{ rating.rating }}</td>
        </tr>
        {% endfor %}
    </table>
    <p>TODO: Add JS/AJAX "onclick" to sort ratings</p>
    <table>
        <tr>
            <th>User</th>
            <th>Rating(highest to lowest)</th>
        </tr>
        {% for rating in desc_ordered_ratings %}
        <tr>
            <td><a href="/users/{{ rating.user.user_id }}">{{ rating.user.name }}</a></td>
            <td>{{ rating.rating }}</td>
        </tr>
        {% endfor %}
    </table>
    {%  endif %}


<div></div>
    
<p>
    <div>TODO: Add ability to visit other cellars that have favorited the same wines as you</div>
</p>
{% endblock %}